.editors {
    all: initial;
    height: 720px !important;
    padding:0;
    margin:0;
    font-family:open sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-size:16px;
    line-height:1.5;
    color:#606c71;
}
a {
    color:#1e6bb8;
    text-decoration:none
}
a:hover {
    text-decoration:underline
}
.editors>h1,
.editors>h2,
.editors>h3,
.editors>h4,
.editors>h5,
.editors>h6 {
    margin-top:2rem;
    margin-bottom:1rem;
    font-weight:400;
    color:#159957
}
.editors p {
    margin-bottom:1em
}
.editors code {
    padding:2px 4px;
    font-family:Consolas,liberation mono,Menlo,Courier,monospace;
    font-size:.9rem;
    color:#383e41;
    background-color:#f3f6fa;
    border-radius:.3rem
}
.editors pre {
    padding:.8rem;
    margin-top:0;
    margin-bottom:1rem;
    font:1rem Consolas,liberation mono,Menlo,Courier,monospace;
    color:#567482;
    word-wrap:normal;
    background-color:#f3f6fa;
    border:solid 1px #dce6f0;
    border-radius:.3rem
}
.editors pre>code {
    padding:0;
    margin:0;
    font-size:.9rem;
    color:#567482;
    word-break:normal;
    white-space:pre;
    background:0 0;
    border:0
}
.editors .highlight {
    margin-bottom:1rem
}
.editors .highlight pre {
    margin-bottom:0;
    word-break:normal
}
.editors .highlight pre,
.editors pre {
    padding:.8rem;
    overflow:auto;
    font-size:.9rem;
    line-height:1.45;
    border-radius:.3rem
}
.editors pre code,
.editors pre tt {
    display:inline;
    max-width:initial;
    padding:0;
    margin:0;
    overflow:initial;
    line-height:inherit;
    word-wrap:normal;
    background-color:transparent;
    border:0
}
.editors pre code:before,
.editors pre code:after,
.editors pre tt:before,
.editors pre tt:after {
    content:normal
}
.editors ul,
.editors ol {
    margin-top:0
}
.editors blockquote {
    padding:0 1rem;
    margin-left:0;
    color:#819198;
    border-left:.3rem solid #dce6f0
}
.editors blockquote>:first-child {
    margin-top:0
}
.editors blockquote>:last-child {
    margin-bottom:0
}
.editors table {
    display:block;
    width:100%;
    overflow:auto;
    word-break:normal;
    word-break:keep-all
}
.editors table th {
    font-weight:700
}
.editors table th,
.editors table td {
    padding:.5rem 1rem;
    border:1px solid #e9ebec
}
.editors dl {
    padding:0
}
.editors dl dt {
    padding:0;
    margin-top:1rem;
    font-size:1rem;
    font-weight:700
}
.editors dl dd {
    padding:0;
    margin-bottom:1rem
}
.editors hr {
    height:2px;
    padding:0;
    margin:1rem 0;
    background-color:#eff0f1;
    border:0
}